:root {
}

#VisualElement {
}

.objectives {
    flex-grow: 1;
    width: 200px;
    height: 200px;
    align-self: flex-end;
    justify-content: flex-start;
    margin-top: 35px;
    align-items: auto;
    flex-direction: column;
    align-content: flex-start;
    -unity-text-align: upper-right;
    white-space: normal;
    text-overflow: clip;
}

.game-goal {
    flex-grow: initial;
    height: 40px;
    flex-direction: row;
    -unity-text-align: upper-right;
    background-image: url("project://database/Assets/Unity%20Store%20DL/Hits%20Effects%20FREE/Textures/1-Smoke.tiff?fileID=2800000&guid=906fed77d26fb6949a29657f2515367e&type=3#1-Smoke");
    white-space: normal;
    background-position-y: center;
    opacity: 1;
    -unity-background-image-tint-color: rgba(223, 190, 190, 0.36);
}

.key {
    flex-grow: initial;
    height: 40px;
    flex-direction: row;
    background-image: url("project://database/Assets/Unity%20Store%20DL/Hits%20Effects%20FREE/Textures/1-Smoke.tiff?fileID=2800000&guid=906fed77d26fb6949a29657f2515367e&type=3#1-Smoke");
    text-overflow: clip;
}
