:root {
    visibility: visible;
    display: flex;
}

.Menus {
    margin-top: 70px;
    font-size: 100px;
    -unity-font-definition: url("project://database/Assets/Fonts/savage_3/Savage.ttf?fileID=12800000&guid=f007fef26dd2df744959f70d7c90d6b1&type=3#Savage");
    color: rgb(231, 231, 231);
    border-top-width: 0;
    visibility: visible;
    display: flex;
    flex-grow: 1;
}

.button-container {
    flex-grow: initial;
    border-left-width: 0;
    width: 1920px;
    height: 466px;
    flex-shrink: initial;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    align-content: stretch;
    flex-direction: column;
    border-top-width: 53px;
    -unity-text-align: upper-left;
}

.buttons {
    width: 200px;
    -unity-font-definition: url("project://database/Assets/Fonts/savage_3/Savage.ttf?fileID=12800000&guid=f007fef26dd2df744959f70d7c90d6b1&type=3#Savage");
    font-size: 45px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url("project://database/Assets/Unity%20Store%20DL/Demon%20Horror%20Creature%20with%20Weapon/Textures/Demon_tex/Demon_damaged_tex/Demon2_Metallic.png?fileID=2800000&guid=8f48557740b087543a414c91a8a036e4&type=3#Demon2_Metallic");
    -unity-background-image-tint-color: rgba(138, 132, 132, 0.98);
    color: rgb(255, 255, 255);
    border-left-color: rgb(143, 107, 107);
    border-right-color: rgb(143, 107, 107);
    border-top-color: rgb(143, 107, 107);
    border-bottom-color: rgb(143, 107, 107);
}

.buttons:hover {
    width: 200px;
    -unity-font-definition: url("project://database/Assets/Fonts/savage_3/Savage.ttf?fileID=12800000&guid=f007fef26dd2df744959f70d7c90d6b1&type=3#Savage");
    font-size: 45px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url("project://database/Assets/Unity%20Store%20DL/Demon%20Horror%20Creature%20with%20Weapon/Textures/Demon_tex/Demon_damaged_tex/Demon2_Metallic.png?fileID=2800000&guid=8f48557740b087543a414c91a8a036e4&type=3#Demon2_Metallic");
    -unity-background-image-tint-color: rgba(204, 188, 188, 0.98);
    color: rgb(253, 0, 0);
    scale: 1.1 1;
    transition-duration: 0.1s;
}

.scrim-and-all {
    flex-grow: 1;
    background-image: url("project://database/Assets/Unity%20Store%20DL/Hits%20Effects%20FREE/Textures/1-Smoke.tiff?fileID=2800000&guid=906fed77d26fb6949a29657f2515367e&type=3#1-Smoke");
    border-left-width: 0;
    display: flex;
    opacity: 0;
    transition-duration: 0.25s;
    transition-timing-function: ease-out-bounce;
    transition-property: opacity;
}

.scrim--fadein {
    opacity: 1;
    transition-property: opacity;
}

.button_resume {
}

.button_resume:hover {
    color: rgb(96, 212, 67);
}

.buttons_respawn {
}

.buttons_respawn:hover {
    color: rgb(85, 202, 58);
}

.buttons_restart {
}

.buttons_restart:hover {
    color: rgb(241, 132, 0);
}
